/* styles 

 Strong Cyan: hsl(171, 66%, 44%)
- Light Blue: hsl(233, 100%, 69%)

Dark Grayish Blue: hsl(210, 10%, 33%)
- Grayish Blue: hsl(201, 11%, 66%)

*/

/*//////OVERALL STYLES\\\\\\\\*/
html {
  /* 62.5% * 16 = 10px */
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-image: url(/images/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}
/*made the display flex so i could center the alignment of all elements*/

p {
  color: hsl(201, 11%, 66%);
  font-size: 1.7rem;
  line-height: 2rem;
}

h1,
h2,
h3 {
  color: hsl(210, 10%, 33%);
  font-weight: 601;
}
/*//////////////////////////////////////*/

/*//////////////HEADER STYLES////////////*/
.header {
  height: 330px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoImage {
  width: 100px;
  height: 100px;
}

.headerContent {
  margin-top: 2rem;
  width: 250px;
  text-align: center;
}

.headerContent > h1 {
  font-size: 2.5rem;
}

.headerContent > p {
  margin: 0;
}
/*///////////////////////////////////////////*/

/*///////////////BUTTON STYLES/////////////*/
.buttonContainer {
  width: 80%;
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.btn {
  margin-bottom: 2rem;
  width: 100%;
  max-width: 412px;
  height: 45px;
  font-size: 1.5rem;
  color: white;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 02px 30px 0px rgb(228, 228, 228);
}

.buttonIOS {
  background-color: rgb(48, 187, 143);
  border-bottom: 3px solid rgb(34, 141, 107);
}

.buttonMac {
  background-color: rgb(78, 114, 230);
  border-bottom: 3px solid rgb(65, 93, 185);
}

@media screen and (min-width: 768px) {
  html {
    font-size: 0.7rem;
  }
  .headerLogo {
    margin-top: 2rem;
  }
  .headerContent {
    width: 60%;
  }

  .buttonContainer {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: unset;
    flex-direction: row;
  }
  .btn {
    width: 40%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 0.85rem;
  }
  .buttonContainer {
    margin-top: 2rem;
  }
}

/*//////////////////// Heading information styles /////////////////////////*/

.contentInformation {
  width: 80%;
  text-align: center;
  margin: 2rem 0;
}

.contentInformation > h2 {
  font-size: 2.3rem;
}

.contentInformation > p {
  font-size: 1.6rem;
}

.imageContainer {
  margin-top: 3rem;
  width: 80%;
}

.imageContainer > img {
  width: 100%;
}

.siteContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0;
}

.companyIcons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.companyIcons > img {
  margin: 2rem 0;
}

.siteFooter {
  background-color: rgb(226, 226, 226);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.siteFooter .logoImage {
  margin-top: 3rem;
  width: 60px;
  height: 60px;
}

.footerList {
  padding: 0;
  list-style: none;
  text-align: center;
  color: hsl(210, 1%, 48%);
  font-size: 1.8rem;
  line-height: 5rem;
}

.socialContainer {
  width: 80%;
  padding: 0;
  padding-bottom: 4rem;
  display: flex;
  justify-content: space-evenly;
}
